hr.mt-5 {
    border: 0;
    height: 2.5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(to right, #f00, #ff0, #0f0, #0ff, #00f, #f0f, #f00);
}

.box {
    background: linear-gradient(135deg, #2b86e4, #5cc6ff);
    color: white;
    padding: 10px;
    margin-top: 10px;
    border-radius: 15px;
}

.wrapper {
    text-align: center;
    width: 380px;
    height: 280px;
}

/* Media queries*/
@media (max-width: 1399px) {
    .wrapper {
        width: 320px;
        height: 350px;
    }
}

@media (max-width: 1199px) {
    .wrapper {
        width: 250px;
        height: 400px;
    }
}

@media (max-width: 1024px) {
    .card_container .col-md-4 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .wrapper {
        width: 900px;
        height: 160px;
    }
}

@media (max-width: 991px) {
    .wrapper {
        width: 670px;
    }
}

@media (max-width: 767px) {
    .wrapper {
        width: 490px;
        height: 220px;
    }
}

@media (max-width: 575px) {
    .wrapper {
        width: 500px;
        height: 230px;
    }
}

@media (max-width: 560px) {
    .wrapper {
        width: 490px;
        height: 220px;
    }
}

@media (max-width: 540px) {
    .wrapper {
        width: 470px;
        height: 240px;
    }
}

@media (max-width: 520px) {
    .wrapper {
        width: 450px;
        height: 240px;
    }
}

@media (max-width: 500px) {
    .wrapper {
        width: 430px;
        height: 240px;
    }
}

@media (max-width: 475px) {
    .wrapper {
        width: 410px;
        height: 250px;
    }
}

@media (max-width: 460px) {
    .wrapper {
        width: 380px;
        height: 265px;
    }
}

@media (max-width: 425px) {
    .wrapper {
        width: 350px;
        height: 280px;
    }
}

@media (max-width: 400px) {
    .wrapper {
        width: 330px;
        height: 310px;
    }
}

@media (max-width: 375px) {
    .wrapper {
        width: 295px;
        height: 360px;
    }
}

@media (max-width: 340px) {
    .wrapper {
        width: 275px;
        height: 360px;
    }
}

@media (max-width: 320px) {
    .wrapper {
        width: 270px;
        height: 400px;
    }
}